<h1> Let's count a word! </h1>
<form action="/string_count">
  <div class="form-group">
    <label for="target_word"> Please enter a word to search for:
    </label>
    <input =id="target_word" name="target_word" class="form-control" type="text">
  </div>

  <div>
    <label for="words_to_check">Please enter some words to check:
    </label>
    <input id="words_to_check" name="words_to_check" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
